// you can change colors here
// $theme-color: #096dd9;
$theme-color: red;
$bg-color: white;
//设备宽度，值自己改
$MQNarrow: 1859px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;
$content-width: 1900px

